@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&: is(.dark *));

@tailwind utilities;

@theme inline {
  /* default variables */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-summary-accent: var(--summary-accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-bg-active: var(--bg-active);

  /* custom variables */
  --color-custom-background: var(--custom-background);
  --color-catalogs-icon: var(--catalogs-icon);
  --color-packages-icon: var(--packages-icon);
  --color-bundles-icon: var(--bundles-icon);
  --color-pulls-icon: var(--pulls-icon);
  --color-bg-catalogs-icon: var(--bg-catalogs-icon);
  --color-bg-packages-icon: var(--bg-packages-icon);
  --color-bg-bundles-icon: var(--bg-bundles-icon);
  --color-bg-pulls-icon: var(--bg-pulls-icon);
  --color-trend-up: var(--trend-up);
  --color-trend-down: var(--trend-down);
  --color-trend-stable: var(--trend-stable);
  --color-bg-add: var(--bg-add);
  --color-bg-remove: var(--bg-remove);
  --color-bg-comparison: var(--bg-comparison);
  --color-text-header: var(--text-header);
}

/* light mode */
:root {
  --radius: 0.625rem;
  --background: #e0f3ff;
  --foreground: #1f2937;
  --card: #ecfaff;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  --primary: #133a70; /* text-primary-light */
  --primary-foreground: #ffffff; /* text-header-light */
  --secondary: #355188; /* text-secondary-light */
  --secondary-foreground: #ffffff;
  --muted: #5b7192; /* text-secondary-light */
  --muted-foreground: #1f2937;
  --accent: #0284c7;
  --summary-accent: #0284c7;
  --accent-foreground: #ffffff;
  --destructive: #ef4444; /* trend-down */
  --border: #5d9dd0;
  --input: #ffffff;
  --ring: #0284c7;

  /* custom variables */
  --custom-background: #7da6ff;
  --catalogs-icon: #0ea5e9;
  --packages-icon: #14b8a6;
  --bundles-icon: #10b981;
  --pulls-icon: #f43f5e;
  --bg-catalogs-icon: #0ea5e9;
  --bg-packages-icon: #14b8a6;
  --bg-bundles-icon: #10b981;
  --bg-pulls-icon: #f43f5e;
  --trend-up: #22c55e;
  --trend-down: #ef4444;
  --trend-stable: #bf7c00;
  --bg-add: #a6c5ff;
  --bg-remove: #e69393;
  --bg-comparison: #d2e5ff;
  --text-header: #ffffff;
  --bg-active: #0284c7;

  /* Shadcn chart colors */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #ffffff;
  --sidebar-foreground: #1f2937;
  --sidebar-primary: #0284c7;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e0f3ff;
  --sidebar-accent-foreground: #1f2937;
  --sidebar-border: #5d9dd0;
  --sidebar-ring: #0284c7;
}

/* dark mode */
.dark {
  --background: #111827;
  --foreground: #dfdfdf;
  --card: #1f2937;
  --card-foreground: #dfdfdf;
  --popover: #1f2937;
  --popover-foreground: #dfdfdf;
  --primary: #dfdfdf; /* text-primary-dark */
  --primary-foreground: #111827;
  --secondary: #9ca3af; /* text-secondary-dark */
  --secondary-foreground: #111827;
  --muted: #9ca3af; /* text-secondary-dark */
  --muted-foreground: #dfdfdf;
  --accent: #818cf8;
  --summary-accent: #dfdfdf;
  --accent-foreground: #111827;
  --destructive: #ef4444; /* trend-down */
  --border: #474755;
  --input: #374151;
  --ring: #818cf8;

  /* custom variables */
  --custom-background: #312e81;
  --catalogs-icon: #0ea5e9;
  --packages-icon: #14b8a6;
  --bundles-icon: #10b981;
  --pulls-icon: #f43f5e;
  --bg-catalogs-icon: #0ea5e9;
  --bg-packages-icon: #14b8a6;
  --bg-bundles-icon: #10b981;
  --bg-pulls-icon: #f43f5e;
  --trend-up: #22c55e;
  --trend-down: #ef4444;
  --trend-stable: #bf7c00;
  --bg-add: #171633;
  --bg-remove: #611f1f;
  --bg-comparison: #0f121a;
  --text-header: #dfdfdf; /* text-primary-dark */
  --bg-active: #312e81;

  /* Shadcn chart colors */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #111827;
  --sidebar-foreground: #dfdfdf;
  --sidebar-primary: #818cf8;
  --sidebar-primary-foreground: #111827;
  --sidebar-accent: #1f2937;
  --sidebar-accent-foreground: #dfdfdf;
  --sidebar-border: #474755;
  --sidebar-ring: #818cf8;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
